<a
  class="block hover:text-green-600 dark:hover:text-green-300"
  href="{{ .Permalink | relURL }}"
>
  <article class="flex flex-row sm:space-x-6">
    <div class="flex flex-col-reverse flex-1 justify-center sm:flex-col">
      <h2 class="font-medium text-lg sm:text-2xl md:text-3xl">
        {{ .Title }}
      </h2>
      {{ partial "list/meta.html" . }}
    </div>
    <div class="hidden sm:block sm:w-64 sm:h-36">
      {{ with .Params.images }}
        {{ range first 1 . }}
          {{ if hasPrefix . "https://source.unsplash.com" }}
            <picture class="w-full h-full object-cover">
              <source
                srcset="
                  data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==
                "
                media="(max-width: 639px)"
              />
              <img src="{{ . }}/288x162" alt="" />
            </picture>
            {{ else }}
            <picture class="w-full h-full object-cover">
              <source
                srcset="
                  data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==
                "
                media="(max-width: 639px)"
              />
              <img
                src="https://images.weserv.nl?url={{ . }}&w=288&h=162&fit=cover&maxage=31d"
                alt=""
              />
            </picture>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </article>
</a>
