{{ if ne .Paginator.TotalPages 1 }}
  <div
    class="flex pt-8 my-4 justify-between items-center content-center md:text-lg"
  >
    <div class="flex-1">
      {{ if .Paginator.HasPrev }}
        <a
          class="font-semibold text-theme-gray-900 hover:text-green-500 dark:hover:text-green-400"
          href="{{ .Paginator.Prev.URL }}"
        >
          ก่อนหน้า
        </a>
      {{ end }}
    </div>
    <div class="flex-1 text-center">
      หน้า {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}
    </div>
    <div class="flex-1 text-right">
      {{ if .Paginator.HasNext }}
        <a
          class="font-semibold text-theme-gray-900 hover:text-green-500 dark:hover:text-green-400"
          href="{{ .Paginator.Next.URL }}"
        >
          ถัดไป
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
