{{ define "main" }}
  <article class="content-margin">
    <div class="{{ if .Params.center_title }}text-center{{ end }}">
      <h1 class="page-title">
        {{ .Title }}
      </h1>
      {{ if eq .Section "posts" }}
        {{ partial "single/meta.html" . }}
      {{ end }}
      {{ partial "single/featured_image.html" . }}
    </div>
    {{ partial "single/content.html" . }}
  </article>
  <div class="max-w-content mx-auto">
    {{ partial "single/share.html" . }}
    {{ partial "single/mastodon_comments.html" . }}
  </div>
{{ end }}
