@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IBM Plex Sans Thai';
    src: url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-Regular.woff2')
        format('woff2'),
      url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-Regular.woff')
        format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM Plex Sans Thai';
    src: url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-SemiBold.woff2')
        format('woff2'),
      url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-SemiBold.woff')
        format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM Plex Sans Thai';
    src: url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-Bold.woff2')
        format('woff2'),
      url('https://cdn.lazywasabi.net/fonts/IBMPlexSansThai/IBMPlexSansThai-Bold.woff')
        format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

:target {
  scroll-margin-top: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold;
}

img.emoji {
  display: inline !important;
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  padding: 0 !important;
  margin: 0 0.05em 0 0.1em !important;
  vertical-align: -0.1em !important;
}

.menu.active {
  @apply block fixed top-0 left-0 h-full w-full z-10;
}

.menu,
.menu.active {
  @apply lg:block lg:static lg:w-auto;
}

.theme-select-button {
  @apply flex flex-col flex-1 items-center p-4 rounded-md space-y-2.5 bg-gray-200 dark:bg-gray-800 focus:outline-none focus:ring focus:ring-blue-300 lg:px-2;
}

.theme-select-button.active {
  @apply bg-green-500 text-gray-100 dark:bg-green-800;
}

.tag {
  @apply inline-block mt-1 px-2 text-xs bg-gray-200 text-gray-600 border border-gray-300 rounded-full hover:bg-green-500 hover:text-white hover:border-green-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-700 dark:hover:bg-green-500 dark:hover:text-white dark:hover:border-green-300 lg:text-sm focus:outline-none focus:ring-2 ring-green-500;
}

.prose a.anchorjs-link:hover {
  @apply border-0;
}

.comment-content p:first-child {
  margin-top: 0 !important;
}
