<div>
  <a class="absolute right-4 bottom-4" href="#top">
    <svg
      class="w-6 h-6 stroke-current text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 lg:w-8 lg:h-8"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-arrow-bar-to-up"
      viewBox="0 0 24 24"
      stroke-width="1"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <line x1="12" y1="10" x2="12" y2="20" />
      <line x1="12" y1="10" x2="16" y2="14" />
      <line x1="12" y1="10" x2="8" y2="14" />
      <line x1="4" y1="4" x2="20" y2="4" />
    </svg>
  </a>
</div>
