<p class="ciu_embed" data-feature="{{ index .Params 0 }}" data-periods="future_1,current,past_1,past_2"
  data-accessible-colours="false">
  <picture>
    <source type="image/webp" srcset="https://caniuse.bitsofco.de/image/{{ index .Params 0 }}.webp">
    <source type="image/png" srcset="https://caniuse.bitsofco.de/image/{{ index .Params 0 }}.png">
    <img src="https://caniuse.bitsofco.de/image/{{ index .Params 0 }}.jpg"
      alt="Data on support for the {{ index .Params 0 }} feature across the major browsers from caniuse.com">
  </picture>
</p>

<script defer src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/public/caniuse-embed.min.js"></script>